<!-- <h1>Welcome#index</h1> -->
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->
<div id="mainBody">

  <div id="header">
    <div id="mainTitle">Lorem ipsum</div>
  </div>

  

  <div id="secondHeader"> <div class="showOffText">News slide thing?!</div> </div>

  <div id="mainContent">

    <div id="gameBox">
      <div class="showOffText">Game box!</div>
    </div>

    <div class="news" id="events">
      <div class="showOffText">Events!</div>
    </div>
    <div class="news" id="discord">
      <div class="showOffText">Discord!</div>
    </div>
  </div>

</div>
