<div class="d-flex flex-column align-items-center justify-content-center"
     id="mainContent">

  <div class="w-75 d-flex justify-content-around shadow-lg bg-white p-3" style="height:100vh;">
    <h1>nothing yet. nope nope nope but soon</h1>
  </div>
</div>
