/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'GoogleSans-Regular-v1';
   src: url('GoogleSans-Regular-v1.27.ttf');
   // font-family: 'GoogleSans-Bold-v1';
   // src: url('GoogleSans-Bold-v1.27.ttf');
   // font-family: 'GoogleSans-BoldItalic-v1';
   // src: url('GoogleSans-BoldItalic-v1.27.ttf');
   // font-family: 'GoogleSans-Italic-v1';
   // src: url('GoogleSans-Italic-v1.27.ttf');
   // font-family: 'GoogleSans-Medium-v1';
   // src: url('GoogleSans-Medium-v1.27.ttf');
   // font-family: 'GoogleSans-MediumItalic-v1';
   // src: url('GoogleSans-MediumItalic-v1.27.ttf');
   // src: url('GoogleSansDisplay-Bold-v1.27.ttf');
   // font-family: 'GoogleSansDisplay-BoldItalic-v1';
   // src: url('GoogleSansDisplay-BoldItalic-v1.27.ttf');
   // font-family: 'GoogleSansDisplay-Italic-v1';
   // src: url('GoogleSansDisplay-Italic-v1.27.ttf');
   // font-family: 'GoogleSansDisplay-Medium-v1';
   // src: url('GoogleSansDisplay-Medium-v1.27.ttf');
   // font-family: 'GoogleSansDisplay-MediumItalic-v1';
   // src: url('GoogleSansDisplay-MediumItalic-v1.27.ttf');

}


 body {
   margin: 0;
   font-family: 'GoogleSans-Regular-v1';
   color: #757575;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
