// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap/dist/css/bootstrap';

//tests
.navbar {

background-color: #FDF6EA !important;

}



.navbar-brand {

font-size: 3rem;

}



h1 {
  color: red;
}
//end tests

body {
  color: blue;
}

h1 {
  color: green;
}

body {
  background-color: #eee;
}

#mainBody {
  font-family: sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  //height: 50%;
  background-color: white;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 1%;
  color: #FF6347;
}

#header {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  margin-bottom:10px;
  //height: 100px;
}

#mainTitle {
  font-size: 35px;

}

#secondHeader {
  height: 200px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom:10px;
}

.news {
  background-color: white;
  width: 39%;
  height: 275px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom:10px;
}

#discord {
  margin-bottom: 0px;
}

#gameBox {
  float: right;
  background-color: white;
  width: 59%;
  height: (276 * 2) + 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#mainContent {
  overflow: auto;
}

.showOffText {
  padding-top: 10px;
  text-align: center;
}
